/**
 * Each top-level field represents an optimality criterion used by the algorithm.
 * The attributes "weight" and "max" assigned to each criterion respectively represent a
 *  penalization factor and the maximum threshold, over which an itinerary is considered
 *  highly unfavorable.
 * Allowed weights are in the range [0, +inf], where 0 means that the criteria has no influence
 *  in the final generalized cost.
 * As regards to maximum thresholds, the interval of allowed values is [-inf, +inf]
 */
{
  "distance": {
    // Penalization factor for the total distance of the itinerary
    "weight": 1,

    // Maximum travelled distance [Km] of an acceptable itinerary
    "max": 100
  },
  "arrival_time": {
    // Penalization factor for the final arrival time of the itinerary
    "weight": 1,

    // Maximum arrival time in seconds past the midnight of the departure day
    "max": 86400
  },
  "transfers": {
    // Penalization factor for the number of transfers (changes of trip/transport) of the itinerary
    "weight": 1,

    // Maximum number of transfers in an acceptable itinerary
    "max": 10
  },
  "co2": {
    // Penalization factor for the emissions [CO2 grams / passenger Km] of the itinerary
    "weight": 1,

    // Maximum emissions [CO2 grams / passenger Km] of an acceptable itinerary
    "max": 2000
  }
}