<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>RAPTOR</title> 
</head>
 
<body>
 
    <div class="raptor_variants">
        <p>Home</p>
        <ul>
            <li>
                <a href="basic_raptor">Basic RAPTOR</a>
            </li>
            <li>
                <a href="wmc_raptor_weights">Weighted McRAPTOR</a>
            </li>
        </ul>
    </div>

    <div id="sm_enabling">
        <label> Enable shared mobility </label>
        <input type="checkbox" name="enable_sm" id="enable_sm" {% if enable_sm %} checked {% endif %}>
        <br><br>
    </div>

</body>

<script>
    enable_sm = document.getElementById("enable_sm")
    enable_sm.addEventListener("change", (e) => {
        location.href = 'switch_enable_sm';
    })
</script>

</html>