<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Weighted McRAPTOR</title>
    </head>

    <body>
        <h1> Weighted McRAPTOR </h1>
        <div class="container">
            <form action="/wmc_raptor_weights_save" method="POST">

            <h3> Distance </h3>
            <label>Weight:</label>
            <input type="number" name="distance-weight" min="0" max=+Inf value="1">
            <label>Max value:</label>
            <input type="number" name="distance-max" min="0" max=+Inf value="100">
            <br><br>

            <h3> Arrival time </h3>
            <label>Weight:</label>
            <input type="number" name="arrival_time-weight" min="0" max=+Inf value="1">
            <label>Max value:</label>
            <input type="number" name="arrival_time-max" min="0" max=+Inf value="86400">
            <br><br>

            <h3> Transfers </h3>
            <label>Weight:</label>
            <input type="number" name="transfers-weight" min="0" max=+Inf value="1">
            <label>Max value:</label>
            <input type="number" name="transfers-max" min="0" max=+Inf value="20">
            <br><br>

            <h3> CO2 </h3>
            <label>Weight:</label>
            <input type="number" name="co2-weight" min="0" max=+Inf value="1">
            <label>Max value:</label>
            <input type="number" name="co2-max" min="0" max=+Inf value="100">
            <br><br>

            <input type="submit" value="Next">
            </form>
            <a href="/home">Back</a>
        </div>
    </body>

</html>