<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Weighted McRAPTOR</title>
    </head>

    <body>
        <h1> Weighted McRAPTOR </h1>
        <div class="container">
            <form action="/wmc_raptor_run" method="POST">

            <label>Choose origin:</label>
            <select name="origin">
                {% for stop_name in stop_names %}
                    <option  value="{{stop_name}}">{{stop_name}}</option>
                {% endfor %}
            </select>
            <br><br>

            <label>Choose destination:</label>
            <select name="destination">
                {% for stop_name in stop_names %}
                    <option  value="{{stop_name}}">{{stop_name}}</option>
                {% endfor %}
            </select>
            <br><br>

            <label>Choose departure time:</label>
            <input type="time" name="time" min="00:00" max="23:59" required>
            <br><br>

            <input type="submit" value="Run">
            </form>
            <a href="/wmc_raptor_weights">Back</a>
        </div>
    </body>

</html>

<script>
    // Set default value of time inputs to current time
    let date = new Date();
    let curr_time = String(date.getHours()).padStart(2, '0') + ":" + String(date.getMinutes()).padStart(2, '0');

    let inputs = document.getElementsByTagName('input')
    inputs = [].slice.call(inputs) // cast to array
    let time_inputs = inputs.filter(el => el.type === 'time')
    for(let time of time_inputs) {
        time.value = curr_time
    }
</script>